<%- include('../layouts/header') %>
	
	<h2>Gerênciador:</h2>

		<div>
			<ul>
				<li><a href="/admin/categorias">Categorias</a></li>
				<li><a href="/admin/vagas">Vagas</a></li>
			</ul>
		</div>

<%- include('../layouts/footer') %>