<!DOCTYPE html>
<html>
<head>
	<title>Jobify</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<h1>
		<a href="/">
			<img src="/images/logo.png" alt="Logo Jobify">
			<br />
			We are Jobify - Join US!
		</a>
		<br />
		<a href="/curriculo">
			>>>Meu Curriculo<<<
		</a>
	</h1>
