<%- include('layouts/header') %>
	
	<h2>Currículo de: Odenilton Lima</h2>
	<div>
		<h3>Informações Pessoais</h3>
		<ul>
			<li><b>Nome:</b> Odenilton Lima de Jesus</li>
			<li><b>Formação:</b> Especialista em Web e Sistemas da Informação</li>
			<li><b>Endereço:</b> Rua Fictícia, Bairro Tal, Conjunto Fulano, Cidade Fulana</li>
			<li><b>Telefone:</b> +55 64 98449-4264</li>
			<li><b>E-mail:</b> odeniltonlj@gmail.com - odeniltonlj@live.com</li>
			<li><b>Data nascimento:</b> 15/11/1991</li>
		</ul>
	</div>
	<div>
		<h3>Escolaridade</h3>
		<ul>
			<li><b>Curso:</b> Especialização em Web e Sistemas da Informação, pela Faculdade Montes Belos, Conclusão em 2015</li>
			<li><b>Curso:</b> Graduação em Analise e Desenv. de Sistemas, pela Faculdade Montes Belos, Conclusão em 2013</li>
		</ul>
	</div>
<%- include('layouts/footer') %>